---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section class="w-full py-20">
    <div class="container mx-auto px-4">
        {
            title && (
                <div class="w-full flex flex-col items-center justify-center" data-aos="fade-down" data-aos-duration="1000">
                    <h2 class="text-4xl uppercase font-light tracking-[0.7rem] text-center">
                        {title}
                    </h2>
                    <hr
                        class="w-52 h-[2px] mt-11 mb-16 bg-white rounded-[75%]"
                        style={{ border: "none" }}
                    />
                </div>
            )
        }
        <slot />
    </div>
</section>
