---
import Tag from '../../components/Tag.astro';
import { ListStyle, type Tool } from '../../env.d';
interface Props {
	tools: Array<Tool>;
    listStyle?: ListStyle;
}
const { tools, listStyle } = Astro.props;
---
<div class={`flex flex-wrap ${listStyle === ListStyle.TAG ? 'gap-3' : ''}`}>
{tools?.length > 0 && tools.map((tool, index) => {
    if(tool.isFeatured) {
        return (
        <Tag textSize="text-sm">
            {tool.name}
        </Tag>
        )          
    }
    return null;
    })
}
</div>