---
import Layout from '../layouts/Layout.astro';
import Section from '../containers/Section.astro';
import Card from '../components/Card.astro';
import FeatureList from '../features/features/FeatureList.astro';
import ToolsList from '../features/tools/ToolsList.astro';
import ProjectsList from '../features/projects/ProjectsList.astro';
import { features, tools, projects } from '../data';
import { ListStyle } from '../env.d';
---

<Layout title="Nikola Leško | Web developer">
	<section class="w-full h-screen flex flex-col flex-1 py-20 items-center justify-center">
		<div class="container px-4">
			<div class="flex flex-col align-center justify-center" data-aos="fade-up" data-aos-duration="1000">
				<h1 class="text-2xl md:text-6xl text-center font-bold">
				<span class="block mt-3 md:mt-5 tracking-[0.35rem] md:tracking-[0.7rem]">Hi,</span>
				  <span class="block mt-3 md:mt-5 tracking-[0.35rem] md:tracking-[0.7rem]">{`I'm Nikola`}</span>
				  <span class="block mt-3 md:mt-5 text-2xl md:text-4xl">Software Engineer / Full Stack Web Developer.</span>
				  {/* <span class=" block mt-6 tracking-[0.4rem]">Nikola Leško.</span> */}
	  
				</h1>
				<div class="mt-5" />
				<p class="text-base md:text-2xl text-center">
				{`And I'm the person behind the code that makes websites and web apps come to life.`}
				</p>
			  </div>
		</div>
	</section>
	<Section title="Me & Toolbox">
		<FeatureList features={features} />
		<div class='my-20' />
		<div class="flex flex-row">
			<div class="w-full md:w-1/2 flex flex-col px-4" data-aos="fade-up" data-aos-duration="1000">
			<h3 class="text-xl text-center mb-6 uppercase tracking-[0.2rem] pr-7 pt-2">
				  {`The Person Behind the Code`}
				</h3>
			  <p class="mb-4 text-base">
				{`Hi, I'm Nikola Leško, a software engineer with experience in building fast and elegant products for global companies. From marketing websites to enterprise apps, I prioritize performance, scalability, and accessibility to deliver optimized solutions. Let's discuss how I can help your business succeed.`}
			  </p>
  
			  <p class="mb-4 text-base">
				{`As a Full-stack Web Developer / Software Engineer, I'm like a builder with a toolbox full of the latest tech and gadgets. Let me show you what I've got - we can use my tools to build something amazing together.`}
			  </p>
			  <p class="text-base">
				Explore the technologies and tools I use to bring ideas to life.
			  </p>
			</div>
			<div class="w-full md:w-1/2 flex flex-col px-4" data-aos="fade-up" data-aos-duration="1000">
				<h3 class="text-xl text-center mb-6 uppercase tracking-[0.2rem] pr-7 pt-2">
				  {`Recent Toolset`}
				</h3>
			  <ToolsList tools={tools} listStyle={ListStyle.TAG} />
			</div>
		  </div>
	</Section>
	<Section title="Projects">
		<ProjectsList projects={projects} />
	</Section>
</Layout>
