---
interface Props {
	row?: boolean;
    className?: string;
}

const { row, className } = Astro.props;
---

<div class={`flex ${row ? 'flex-row' : 'flex-col'}  ${className ? className : ''}`}>
	<slot />
</div>