---
interface Props {
	color?: string;
    textSize?: string,
    textColor?: string,
    bgAlpha?: string,
}

const { color = "bg-steel-blue-800/90",  textSize = "text-xs", textColor = "text-white" } = Astro.props;

const computedColor = color ?? "bg-steel-blue-800/90";
---

<div class={`inline-block rounded-full py-2 px-3 font-light tracking-[0.2rem] ${computedColor} ${textSize ? textSize : ''} ${textColor ? textColor : ''}`}>
	<slot />
</div>